<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf8"/>
        <title>Hello3 !</title>
    </head>
    <body>
    <h1>Bienvenue {{ prenom }}</h1>
    <p>
        Mes jeux préférés sont &nbsp;:
        {% set i = 1 %}
        {% for jeu in jeux %}
            {{ i }} : {{ jeu }}
            {% set i = i+1 %}
        {% else %}
            Je ne préfère aucun jeu&nbsp; !
        {% endfor %}

    </p>
    </body>
</html>