<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Flash</title>
</head>
<body>
<h1>Messages flash de type "info"</h1>
<ul>
    {% for msg in app.session.flashBag.get('info') %}
        <li>{{ msg }}</li>
    {% else %}
        <li>aucun message de type "info"</li>
    {% endfor %}
</ul>

<h1>Messages flash de type "error"</h1>
<ul>
    {% if app.session.flashBag.has('error') %}
        {% for msg in app.session.flashBag.get('error') %}
            <li>{{ msg }}</li>
        {% endfor %}
    {% else %}
        <p>aucun message de type "error"</p>
    {% endif %}
</ul>
</body>
</html>
