{% extends 'Sandbox/Layouts/Layout1.html.twig' %}
{% block title %}{{ parent() }}: vue 2{% endblock %}
{# Commentaire Twig #}
{% set s = "code ne générant pas d'HTML" %}
{% block mainTitle %}Vue 2 titre{% endblock %}
<!-- Code html -->
<p>Un paragraphe</p>
{% block view %}zeifaubflezknev jezmlezhniezou{% endblock %}