{# template racine (niveau 1) pour TwigController #}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sandbox{% endblock %}</title>
    </head>
    <body>
        <div id="vue">
            <h1>{% block mainTitle %}{% endblock %}</h1>
            {% block view %}
            {% endblock %}
        </div>
    </body>
</html>
