<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test1</title>
</head>
<body>
    <p>year: {{ year }}</p>
    <p>month: {{ month }}</p>
    <p>filename: {{ filename }}</p>
    <p>ext: {{ ext }}</p>
</body>
</html>